<?xml version="1.0"?>
<config>
    <modules>
        <Ip_Banner>
            <version>0.1.0</version>
        </Ip_Banner>
    </modules>
    <frontend>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <banner>
                <class>Ip_Banner_Helper</class>
            </banner>
        </helpers>
        <blocks>
            <banner>
                <class>Ip_Banner_Block</class>
            </banner>
        </blocks>
        <models>
            <banner>
                <class>Ip_Banner_Model</class>
                <resourceModel>banner_resource</resourceModel>
            </banner>
            <banner_resource>
                <class>Ip_Banner_Model_Resource</class>
                <entities>
                    <slide>
                        <table>banner_slides</table>
                    </slide>
                </entities>
            </banner_resource>
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Ip_Banner</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </banner_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <banner before="Mage_Adminhtml">Ip_Banner_Adminhtml</banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <banner>
            <slide>
                <speed>600</speed>
                <manual_speed>100</manual_speed>
                <timeout>5000</timeout>
                <fx>scrollHorz</fx>
            </slide>
        </banner>
    </default>
</config>